@import java.util
@(name: String, age: Int, location: String, array: util.List[String])
@main("Play Framework") {
    <img src="https://www.playframework.com/assets/images/logos/play_full_color.png"width="500">
    <h1>Hello @name</h1>
    <small>You are @age years old and you are at @location.</small>
    <h3>Elementos</h3>
    <ul>
        @if(array.isEmpty) {
            <li>No hay elementos.</li>
        } else {
            @for(elemento <- array) {
                <li>@elemento</li>
            }
        }
    </ul>
}